.toggle {
  color: green;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif !important; /* !importnat ile cakisma ihtimalinde bu css stilini onceliklendirecek */
}

.info {
  font-size: smaller;
}

.infoBox {
  padding: 15px;
  line-height: 0.5;
}

.custom-tooltip {
  background-color: #dddddd;
  color: black;
}

